<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/img/weather.png">
    <title>About</title>
</head>

<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,200;1,500&family=Lobster&display=swap');

        @media only screen and (min-width: 600px) {
            #flex {
                display: flex;
            }
        }

        a {
            text-decoration: none;
            color: #333333;
        }


        body {
            color: #333333;
            font-family: arial;
            max-width: 650px;
            margin: 0 auto;
            padding: 0 16px;
            display: flex;

            background-size: cover;
            flex-direction: column;
            min-height: 100vh;
            font-family: 'Kanit', sans-serif;


        }

        .main-content {
            flex-grow: 1;

        }

        .current .weather {
            color: #333333;
            font-size: 4vh;
            font-weight: bolder;
            margin-bottom: 15px;
        }


        footer {
            color: #333333;
            border-top: 1px solid #eeeeee;
            margin-top: 16px;
            padding: 16px 0;
            text-align: center
        }

        header {
            margin-top: 16px;
            margin-bottom: 48px;
            text-align: center;

        }

        h1 {
            font-size: 64px;
            margin-bottom: 16px;
        }

        header a {
            color: #333333;
            margin-right: 16px;
            text-decoration: none;
        }

        .potrait {
            width: 300px;
        }
    </style>
    <div class="main-content">
        {{>header}}
        <div id="flex">

            <p style="  color: #333333;font-size: 3vh;font-weight: 500;">I am Jayen,Computer science student at MSU
                Baroda.<br><br>Gmail:
                pateljayen07@gmail.com<br><br>Linkedin:<a href="https://www.linkedin.com/in/jayen-patel-1600831b6/">Go
                    to my
                    linkedin</a><br><br>GFG Profile:<a
                    href="https://auth.geeksforgeeks.org/user/pateljayen07/profile">Go to my
                    GFG</a>
            </p>
            <img class="potrait" src="/img/xyz.jpg">

        </div>
    </div>
    {{>footer}}
</body>

</html>