<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
</head>

<body>
    <style>
        @media only screen and (min-width: 600px) {
            #flex {
                display: flex;
            }
        }


        a {
            text-decoration: none;
            color: #333333;
        }
    </style>
    <div class="main-content">
        {{>header}}
        <div id="flex">

            <p style="  color: #333333;font-size: 3vh;font-weight: 500;">I am Jayen,Computer science student at MSU
                Baroda.<br><br>Gmail:
                pateljayen07@gmail.com<br><br>Linkedin:<a href="https://www.linkedin.com/in/jayen-patel-1600831b6/">Go
                    to my
                    linkedin</a><br><br>GFG Profile:<a
                    href="https://auth.geeksforgeeks.org/user/pateljayen07/profile">Go to my
                    GFG</a>
            </p>
            <img class="potrait" src="/img/xyz.jpg">

        </div>
    </div>
</body>

</html>