<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script data-ad-client="ca-pub-1092794344156360" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <title>Weather</title>
</head>
<style>
    .current {
        background: url("/img/Caribbean-beach.jpg");
        opacity: 0.7;
        height: 100%;
        text-align: center;
        margin: 5px;

    }
</style>

<body>
    <div class="main-content">
        {{>header}}
        <form style="text-align: center;">
            <input type="text" placeholder="location">
            <button>Search</button>
        </form>

        <p id="p1" style="font-size:3vh;text-align:center"></p>



        <div class="current">
            <div class=" weather" id="city"></div>
            <div class="weather" id="temp"></div>
            <div class="weather" id="weather"></div>
            <img id="p3" src="">
            <div class="weather" id="feelslike"></div>
            <div class="weather" id="press"></div>
            <div class="weather" id="humid"></div>
        </div>


    </div>



    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>