<header>
    <nav class="navbar navbar-expand-lg " style="background-color: #111;">
        <div class="container-fluid">
            <a class="navbar-brand text-white ms-3" href="#">Weather App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <img src="https://img.icons8.com/ios-filled/30/ffffff/menu--v1.png" />
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active text-white text-center display-7" aria-current="page"
                            href="/">Weather</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white text-center" href="/about">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white text-center" href="/help">Need Help</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
</header>